@import "fonts.css";
*{
    margin:0;
    padding: 0;

    box-sizing:border-box;

}

.container{
    margin: 0 auto;
    width:100% ;
    height:1575px;
    background-color:pink;


}
.header{

    width:100%;
    height:100px;
    background-color:lavender;
    display: flex;
    justify-content: space-between;
}



.cell1{


    width: 100%;
    height:100px;
    margin-right:10px;
    background-color: lavender;
    position:fixed;
    display: flex;
    justify-content: space-between;
}

.htmltext{
    font-size: 50px;
    user-select: none;
    left:35.7%;
    line-height: 100px;
    font-family:Ustroke;
    cursor: pointer;

}
.cell2{
    width: 100%;
    height:100px;
    background-color: lavender;
    display: flex;
    justify-content: center;

}
.cell2line{
    width: 100%;
    height: 3px;
    background-color: black;
}

.htmltext2{
    font-size: 30px;
    line-height: 70px;
    margin-left:10px;
    width:20%;
    text-align:center;
    cursor:pointer;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;

}
.htmltext2 a{
    text-decoration: none;
    color: black;
}
.cell1 img{
    padding: 2%;
}
.sub{
    width: 100%;
    height: 75px;
    background-color: lavender;


}

.mid{
    width: 100%;

    background-color: rgb(255, 255, 255);

    padding-top:30px;
    padding-left: 70px;
    padding-right: 70px;
}

.midtext{
    width: 100%;
    height:100px;
    background-color: white;

}

.headinglvl1{
    font-size: 65px;
    text-align: center;
    padding-top:2%;

    font-family: 'Courier New', Courier, monospace;

}

.midheader{
    width: 100%;
    height:50px;
    background-color: lavender;
    border-radius: 8px;
}


.aboutus{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aboutus img{
    margin-top:20px;
    width:50%;
    border-radius: 16px;
    height:330px;

}

.aboutus p{
    width: 50%;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Manrope;
    font-size: 30px;
}

.continue{
    text-align: center;
    font-family: Manrope;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}


.est{
    text-align: center;
    font-family: Manrope;
    font-size: 15px;

    margin-bottom: 10px;
}

.footer{
    float: right;
    width: 100%;
    height: 200px;
    background-color: rgb(91, 91, 150);
}

.footer p{
    font-size: 30px;
    position:relative;
    top:50%;
    transform: translateY(-50%);

    font-family: 'Courier New', Courier, monospace;

}






