
@import "responsiveshop.css";
@import "modal.css";

.order-modal{
    width:300px;
    min-height:400px;
}

.order-modal__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-modal__title{
    margin-bottom: 15px;
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    line-height: 20px;
}
.order-modal__number {
    font-family: 'Manrope', sans-serif;

    font-size: 12px;
    line-height: 20px;
    text-align: right;

}
.order-modal__info {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 34px 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.order-modal__info-item:not(:last-child) {
    margin-bottom: 15px;
}

.order-modal__btn {
    position: relative;
    background-color: transparent;
    border: none;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

}


.order-modal__btn::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    background-image: url("../icons/arrowdown.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*after чтобы поворачивалась только стрелка*/
.order-modal__btn.open::after {
    transform: translateY(-50%) rotate(180deg);
}



.order__label {
    margin-bottom: 14px;
    display: flex;
    font-family: 'Manrope', sans-serif;
    align-items: center;
    margin-left:30px ;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

}

.order__input {
    margin-right:30px;
    padding-left: 14px;
    padding-right: 14px;
    width: 240px;
    font-family: 'Manrope', sans-serif;
    height: 45px;
    background: whitesmoke;
    border-radius: 4px;
    border: none;
}

.order__input::placeholder {
    color: black;
}
.order__btn{
    font-size: 17px;
    font-family: 'Manrope', sans-serif;;
    border: black solid 2px;
    height:50px;
    width:100%;
    margin-top: 10px;
    text-align: center;
    background-color: transparent;
    transition: all 0.3s ease 0s;
}

.order__btn:hover{
    background-color: black;
    color:white ;

}
.order-modal__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-modal__list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.order-product__img {
    max-width: 130px;
    max-height: 130px;
    object-fit: cover;
    margin-right: 10px;
}

.order-modal__list {
    display: none;
}

.order-modal__item:not(:last-child) {
    margin-bottom: 14px;
}
ul li{
    list-style-type: none;
}
.order-product__text {
    margin-right: 10px;
    width:35%;
}

.order-product__title {
    margin-bottom: 15px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;


}

.order-product__price {
    font-family: 'Manrope', sans-serif;;
    font-size: 18px;
    line-height: 18px;

}

.order-product__delete {
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    width:33%;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: right;

}
