@media  only screen and (max-width: 1000px){
 .midpics{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
    .midpics .product{
        width: 50%;
        margin-bottom: 10%;
    }

}
@media  only screen and (max-width: 1300px){
    .midpics{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .midpics .product{
        width: 50%;
        margin-bottom: 10%;
    }

}

@media  only screen and (max-width: 1400px){
    .popup_text{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .popup_text p{
        text-align: center;
        width:50%;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 18px;
        font-family: "Manrope";
    }
    .popup_title{
        font-size: 50px;
        margin-bottom:20px;
        font-family: "Manrope";
        text-align: center;
    }
    .popup_text img{
        height: 20px;
        margin-top: 10px;
        padding: 0;
    }
    .popup_text:nth-child(-n+2){

        margin-top: 20px;

    }
}

