@media  only screen and (max-width: 1000px){
 .midpics{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
    .midpics .product{
        width: 50%;
        margin-bottom: 10%;
    }

}
@media  only screen and (max-width: 1300px){
    .midpics{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .midpics .product{
        width: 50%;
        margin-bottom: 10%;
    }

}