@import "simplebar.css";


*{
    margin:0;
    padding: 0;

    box-sizing:border-box;

}

.container{

    margin: 0 auto;
    width:100% ;
    height:1575px;
    background-color: rgb(91, 91, 150);


}

.header{

    width:100%;
    height:100px;
    background-color:lavender;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header .sitelogo{
    width: 140px;
    height:110px;
    padding:5px;
}
.header .bag{
    height:80px;
    width:90px;
   margin-top: 10px;

}

.cell1{
    z-index: 10;
    width: 100%;
    height:100px;

    background-color: lavender;
    position:fixed;
    display: flex;

    justify-content: space-between;
}

.htmltext{
    font-size: 40px;
    user-select: none;
    text-align: center;
    line-height: 100px;
    font-family:"Courier New";
    cursor: pointer;
    width:33%;
}
.cell2{
    width: 100%;
    height:100px;
    background-color: lavender;
    display: flex;
    justify-content: center;


}
.cell2line{
    width: 100%;
    height: 3px;
    background-color: black;
}

.htmltext2{
    font-size: 30px;
    line-height: 70px;
    margin-left:10px;
    width:20%;
    text-align:center;
    cursor:pointer;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;

}

.htmltext2:hover{
    transform: scale(102%);
}

a{
    text-decoration: none;
    color: black;

}

.sub{
    width: 100%;
    height: 75px;
    background-color: lavender;

}

.mid{
    width: 100%;

    background-color: rgb(255, 255, 255);
    padding-top:30px;
    padding-left: 70px;
    padding-right: 70px;

}

.midtext{
    width: 100%;
    height:100px;
    background-color: white;

}

.headinglvl1{
    font-size: 65px;
    text-align: center;
    padding-top:2%;
    font-family: 'Courier New', Courier, monospace;

}

.midheader{
    width: 100%;
    height:50px;
    background-color: lavender;
    border-radius: 8px;
}
.filter{
    width: 80%;
    height:50px;
    margin-left: 10%;
    background-color: antiquewhite;

    border-radius: 8px;
    margin-top:10px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    cursor:pointer;

}

nav ul li{
    list-style-type: none;
    line-height: 50px;
}
.textfilter{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;


}




.midpics{
    background-color: white;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.midpics .descr{
    text-align: center;
    font-size: 18px;
    padding-left: 5%;
    height:100px;
    padding-right: 5%;
    padding-top: 2%;
    font-family: Manrope;
}

.midpics .price{
    font-family: Manrope;
    font-weight: 600;
    height:30px;
    margin-top: 15px;
    line-height:30px;
    font-size: 24px;
    text-align: center;
}
.midpics .weigh{
    font-family: Manrope;
    lint-height: 20px;
    color: gray;
    font-weight: 100;
    margin-bottom: 10px;
    padding-right: 5px;
    width:100%;
    height:20px;
    font-size: 18px;
    text-align: center;
}
.midpics .label{
    text-align: center;
    font-size: 30px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Amasis MT";
    border: 4px double black;
}

.midpics .product{
    width: 30%;
    height:500px ;
    margin-top:3%;
    margin-bottom: 7%;

}


.product img{
    display:block;
    height:300px;
    margin-left: auto;
    margin-right: auto;

}



.product .tocart{
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    width:50%;
    border: black solid 2px;
    transition: all 0.3s ease 0s;
}
.product .tocart p{

    user-select: none;

    line-height: 50px;
    text-align: center;
    font-size: 17px;
    font-family: Manrope;



}


.product .tocart:hover{
    background-color: black;
    color:white ;
}



















.footer{
    float: right;
    width: 100%;

    background-color: lavender;
}

.footer .sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.sections .linkstopages{
    width:33%;
    font-family: Manrope;
    font-size:20px;
    text-align: center;
    margin-top:50px;
    color:black;
    user-select: none;
    cursor: pointer;
}


.footertext{
    font-family: Manrope;
    font-size: 30px;
    text-align: center;
    margin-top:50px;
}

.footer form{
    display: flex;
    justify-content: center;
}
.footer form input[type="email"] {
    width: 50%;
    margin-top:15px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;

    height:50px;

}



.footer .email::placeholder{
    color: lightgrey;
}

.socials{
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.socials img{
    height:40px;
    width: 40px;
    margin-left:20px;
    margin-right:20px;
    margin-top:15px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}
.socials img:hover{
    transform: scale(105%);
}
form button {
    padding: 8px 16px;
    background-color: white;
    color: gray;
    cursor: pointer;
    height:50px;
    border: black solid 2px;
    transition: all 0.3s ease 0s;
}
form button:hover{
    background-color: black;
    color:white ;
}
.est{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;

    margin-bottom: 10px;
}



.hide{
    display:none;
}


.forhover:hover{
    transform: scale(102%);
}


.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
     overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease 0s;
    z-index: 20;


}
.popup:target{
    opacity:1;
    visibility: visible;
}



.popup_content{
    background-color: white;
    color:black;
     width:60%;
    padding:30px;
    position:relative;
    border-radius: 8px;


}
.popup_just{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.popup_just img{

    height:350px;
    margin-left: auto;
    margin-right: auto;

}

.popup_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px 10px;
}
.popup_close{
    position:absolute;
    right:10px;
    top:10px;
    font-size: 20px;
}
.popup_title{
    font-size: 50px;
    margin-bottom:60px;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}
.popup_text{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:50%;
}
.popup_text p{
    text-align: center;
    width:50%;
    margin-bottom: 10px;
    margin-top: 0.3%;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;

}

.popup_text img{
    padding: 2%;
    height: 35px;
}
.popup_just .descr{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    margin-right:40px;
    margin-left:40px;
    margin-top:20px;
    text-align: center;
}
.popup_area{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.popup .tocartforp{
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width:50%;
    border: black solid 2px;
    transition: all 0.3s ease 0s;
}

.popup .tocartforp p{
    user-select: none;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
    font-family: 'Manrope', sans-serif;
    transition: background-color 0.3s ease 0s;
}

.popup .tocartforp:hover{
    background-color: black;
    color:white ;
}



.popup_content .price{
    font-size: 30px;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    margin-top:15px;
}


.disable-scroll{

    overflow: hidden;
    height:100vh;
    position: fixed;
    top:0;
}